<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="register">
        <h1>Register</h1>
        <div class="links">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}" class="active">Register</a>
        </div>
        <form action="{{ url_for('register') }}" method="post" autocomplete="off" enctype="multipart/form-data">
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            
            <label for="first_name">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="first_name" placeholder="First Name" id="first_name" required>
            
            <label for="last_name">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="last_name" placeholder="Last Name" id="last_name" required>
            
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            
            <label for="email">
                <i class="fas fa-envelope"></i>
            </label>
            <input type="email" name="email" placeholder="Email" id="email" required>
            
            <label for="date_of_birth">
                <i class="fas fa-calendar"></i>
            </label>
            <input type="text" name="date_of_birth" placeholder="DD/MM/YYYY" id="date_of_birth" required>
            
            <label for="location">
                <i class="fas fa-map-marker-alt"></i>
            </label>
            <input type="text" name="location" placeholder="Location" id="location" required>
            
            <label for="profile_pic">
                <i class="fas fa-image"></i>
            </label>
            <input type="file" name="profile_pic" id="profile_pic" accept="image/*">
            
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>
