{% extends "base.html" %}
{% block title %}Admins{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="btn-group">
    <button class="button btn-success justify-center mt-1 mb-5">Reports</button>
    <button class="button btn-success justify-center mt-1 mb-5">Manage Records</button>
    <button class="button btn-success justify-center mt-1 mb-5">Manage Users</button>
    <button class="button btn-success justify-center mt-1 mb-5">Manage News</button>
  </div>
  
    <h2 class="text-center text-danger">Search Admin</h2>
    <form action="{{ url_for('admins') }}" method="post">
      
      <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="admin First Name or Family Name or a letter" required>
            <button type="submit" class="btn btn-success mt-3">Search</button>
        </div>
    </form>

    {% if results %}
    <h3 class="text-danger text-center mt-3">Search Results</h3>
    <div class="row">
        {% for admin in results %}
        <div class="col-md-4 mt-3">
            <div class="card">
                <img class="card-img-top" src="{{ admin[1] }}" alt="Profile Image of {{ admin[2] }} {{ admin[3] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ admin[2] }} {{ admin[3] }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% elif message %}
    <h3 class="text-danger text-center">{{ message }}</h3>
    {% endif %}

    <h3 class="text-success text-center mt-5">All Admins</h3>
    <div class="row">
        {% for admin in admins %}
        <div class="col-md-4 mt-3">
            <div class="card">
                <img class="card-img-top" src="{{ admin[1] }}" alt="Profile Image of {{ admin[2] }} {{ admin[3] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ admin[2] }} {{ admin[3] }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
