{% extends "base.html" %}
{% block title %}Admins{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-success">Search all users</h2>
    <h4 class="text-center text-danger my-5">Admins can search all users, and change the role of any user</h4>

    <form action="{{ url_for('admins') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Username, First Name, Family Name, or a letter" required>
            <button type="submit" class="btn btn-success btn-lg mt-3">Search</button>
        </div>
    </form>

    {% if results %}
    <h3 class="text-danger text-center mt-3">Search Results</h3>
    <div class="row">
        {% for user in results %}
        <div class="col-md-4 mt-3">
            <div class="card">
                <img class="card-img-top" src="{{ user[1] }}" alt="profile_image of {{ user[3] }} {{ user[4] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ user[2] }}</h5>
                    <p>{{ user[3] }} {{ user[4] }}</p>
                    <form action="{{ url_for('change_role', user_id=user[0]) }}" method="post">
                        <div class="form-group">
                            <label for="role">Role:</label>
                            <select name="role" id="role" class="form-control">
                                <option value="user" {% if user[5] == 'user' %}selected{% endif %}>User</option>
                                <option value="admin" {% if user[5] == 'admin' %}selected{% endif %}>Admin</option>
                                <option value="moderator" {% if user[5] == 'moderator' %}selected{% endif %}>Moderator</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success mt-3">Change Role</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% elif message %}
    <h3 class="text-danger text-center">{{ message }}</h3>
    {% endif %}

    <h3 class="text-success text-center mt-5">All Admins</h3>
    <div class="row">
        {% for admin in admins %}
        <div class="col-md-4 mt-3">
            <div class="card">
                <img class="card-img-top" src="{{ admin[1] }}" alt="Profile Image of {{ admin[3] }} {{ admin[4] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ admin[2] }}</h5>
                    <p>{{ admin[3] }} {{ admin[4] }}</p>
                    <p>Role: Admin</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
