{% comment %} <!-- templates/home.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6">
<h2>Welcome to Tree Talk App {{ username }}!</h2>
<style> 
  background: url("{{ url_for('static', filename='assets/tree4.png') }}") no-repeat center center fixed;
  background-size: cover;
</style>  

<p>Your role is: {{ user_role }}</p>
<h3>Discuss all your tree-related issues here!</h3>

{% endblock %}



<!--{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>User Landing Page</h2>
<p>Welcome back, {{ username }}!</p>
<style>
    .btn-group .button {
      background-color: #7604aa; /* Green */
      border: 1px solid rgb(44, 1, 57);
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      width: 150px;
      display: block;
    }
    
    .btn-group .button:not(:last-child) {
      border-bottom: none; /* Prevent double borders */
    }
    
    .btn-group .button:hover {
      background-color: #748390;
    }
    </style>
    
    <div class="btn-group">
      <button class="button">Reports</button>
      <button class="button">Get Help</button>
    </div>
{% endblock %}--> {% endcomment %}

{% comment %} <style>
        .navbar-nav .nav-link.active {
            background-color: #ddd;
        }
    </style> {% endcomment %}