<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
			
				<a class="navbar-brand" href="#">Login</a>
         <!--<a href="{% if user_role == 'admin' %}{{ url_for('admin_home') }}{% elif user_role == 'staff' %}{{ url_for('staff_home') }}{% elif user_role == 'user' %}{{ url_for('user_home') }}{% endif %}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>  -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="{% if user_role == 'admin' %}{{ url_for('admin_home') }}{% elif user_role == 'staff' %}{{ url_for('staff_home') }}{% elif user_role == 'user' %}{{ url_for('user_home') }}{% endif %}"><i class="fas fa-home"></i> Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i> Profile</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
          </ul>
      </div>
  </nav>
  <div class="container-fluid">
      <div class="row">
          <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
              <div class="position-sticky">
                  <ul class="nav flex-column">
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">
                              <i class="fas fa-home"></i>
                              Home
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              <i class="fas fa-users"></i>
                              Users
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              <i class="fas fa-user-shield"></i>
                              Staffs
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              <i class="fas fa-user-cog"></i>
                              Admin
                          </a>
                      </li>
                  </ul>
              </div>
          </nav>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
              {% block content %}{% endblock %}
          </main>
      </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Login Example</h1>
                <a href="{% if user_role == 'admin' %}{{ url_for('admin_home') }}{% elif user_role == 'staff' %}{{ url_for('staff_home') }}{% elif user_role == 'user' %}{{ url_for('user_home') }}{% endif %}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>