{% extends "base.html" %}
{% block title %}Message {{ recipient.first_name }}{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Message {{ recipient.first_name }}</h2>
    <form method="POST">
        <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Send</button>
    </form>
    <div class="container mt-5">
      <h2>Messages</h2>
      <div class="message-form">
          <form action="{{ url_for('post_message') }}" method="post">
              <div class="form-group">
                  <textarea class="form-control" name="message" placeholder="What's on your mind?" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Post</button>
          </form>
      </div>
      <div class="messages mt-3">
          {% for message in messages %}
          <div class="card mt-3">
              <div class="card-body">
                  <p class="card-text">{{ message[2] }}</p>
                  <div class="message-actions">
                      <button class="btn btn-light">{{ message[4] }} Likes</button>
                      <button class="btn btn-light">Comment</button>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
{% endblock %}
