{% extends "base.html" %}
{% block title %}Moderators{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="btn-group">
    <button class="button btn-success justify-center mt-1 mb-5">About</button>
    <button class="button btn-success justify-center mt-1 mb-5">Contact Us</button>
    <button class="button btn-success justify-center mt-1 mb-5">Reports</button>
    <button class="button btn-success justify-center mt-1 mb-5">Manage Users</button>
  </div>
    <h2 class="text-center text-danger">Search Moderators</h2>
    <form action="{{ url_for('moderators') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="moderator First Name or Family Name" required>
            <button type="submit" class="btn btn-success mt-3">Search</button>
        </div>
    </form>

    {% if results %}
    <h3 class="text-danger text-center mt-3">Search Results</h3>
    <div class="row">
        {% for moderator in results %}
        <div class="col-md-4 mt-3">
            <div class="card">
                <img class="card-img-top" src="{{ moderator[1] }}" alt="Profile Image of {{ moderator[2] }} {{ moderator[3] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ moderator[2] }} {{ moderator[3] }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% elif message %}
    <h3 class="text-danger text-center">{{ message }}</h3>
    {% endif %}

    <h3 class="text-success text-center mt-5">All Moderators</h3>
    <div class="row">
        {% for moderator in moderators %}
        <div class="col-md-4 mt-3">
            <div class="card">
                <img class="card-img-top" src="{{ moderator[1] }}" alt="Profile Image of {{ moderator[2] }} {{ moderator[3] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ moderator[2] }} {{ moderator[3] }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
