{% extends 'managingUser.html' %}

{% block title %}Moderator-Admin Page{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">

  {% if 'moderator' in session or 'admin' in session %}
  <h1>Edit User</h1>
  {% elif 'user' in session %}
  <h1>Manage My Profile</h1>
  {% endif %}
</div>

<form action="{% if 'moderator' in session %}
                  /moderator/profile/edit
                {% elif 'admin' in session %}
                  /admin/profile/edit
                {% elif 'user' in session %}
                  /user/profile/edit
                {% endif %}" method="POST" class="bg-warning p-4 rounded">
  <div class="mx-auto p-2  form-floating form-group ">
    <input type="text" class="form-control" id="id" name="id"  value="{{moderator[0]}}" hidden readonly>
    <label for="id" class="form-label" hidden >ID</label>
  </div>

  <div class="mx-auto p-2  form-floating form-group">
    <input type="text" class="form-control" id="username" name="username"  value="{{moderator[1]}}" readonly>
    <label for="username" class="form-label" >User Name</label>
  </div>

  <div class="mx-auto p-2  form-floating form-group ">
    <input type="text" class="form-control" id="fname" name="fname"  value="{{moderator[2]}}" readonly>
    <label for="fname" class="form-label" >First Name</label>
  </div>

  <div class="mx-auto p-2  form-floating form-group">
    <input type="text" class="form-control" id="lname" name="lname"  value="{{moderator[3]}}" readonly>
    <label for="lname" class="form-label" >Last Nanme</label>
  </div>
 
  <div class="mx-auto p-2  form-floating form-group">
      <input type="text" class="form-control" id="email" name="email"  value="{{moderator[4]}}" required>
    <label for="email" class="form-label" >Email</label>
  </div>
  
  <div class="mx-auto p-2  form-floating form-group">
    <input type="text" class="form-control" id="date" name="date"  value="{{moderator[6]}}" readonly>
    <label for="date" class="form-label" >date_of_birth</label>
  </div>

  <div class="mx-auto p-2  form-floating form-group">
    <input type="text" class="form-control" id="address" name="address"  value="{{moderator[7]}}" required>
    <label for="address" class="form-label" >Location</label> 
  </div>

  {% if 'moderator' in session or 'admin' in session %}
  <div class="mx-auto p-2 form-floating form-group">
    <select class="form-select my-auto" id="status" name="status" required>
      {% if moderator[10] == 1  %}
      <option value="{{ moderator[] }}" selected >
       Activated 
      </option>
      <option value="0" required>Inactivate the user</option>
      {% elif moderator[9] == 0 %}
      <option value="{{ moderator[10] }}" selected >
        Inactivated
       </option>
      <option value="1" required>Activate the user</option>
      {% endif %}
    </select>
    <label for="status" class="form-label">Active Status</label>
  </div>

  <div class="mx-auto p-2  form-floating form-group">
    <input type="text" class="form-control" id="status" name="status"  value="{{staff[9]}}" hidden readonly>

  </div>
  <div class="col-md-6">
   <a href="{{url_for('password')}}" class="btn btn-dark btn-lg me-2">Changing Password</a>

  </div>
    {% if password_reset %}
     <div class="alert alert-success"   role="alert">
      <p>
        {{msg}}
      </p> 
     </div>
    {% endif %}


  <div class="row mt-4">
    <div class="col-md-6">
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
    </div>
    <div class="col-md-6 text-end">
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </div>


</form>




{% endblock %}