{% extends 'base.html'%}
{% block title %}Change Your Password{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <form action="{{ url_for('change_password') }}" method="POST" autocomplete="off" class="bg-dark p-4 rounded">
        <div class="mb-3">
            <label for="old_password" class="form_label text-light">Old Password</label>
            <input type="password" class="form-control" id="old_password" name="old_password" required>
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label text-light">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <div class="mb-3">
            <label for="re_new_password" class="form-label text-light">Confirm New Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        
        {% if alert %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endif %}

        <div class="row mt-4">
            <div class="col-md-6">
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
            </div>
            <div class="col-md-6 text-end">
                <button type="submit" class="btn btn-secondary">Change Password</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
