{% extends 'managingUser.html'%}
{% block title %}Login to your Account {% endblock %}

{% block content %}
<div class="container mt-5">

  <form action="
  {% if 'staff' in session %}
        {{ url_for('moderator_edit_password') }}
  {% elif 'admin' in session %}
        {{ url_for('admin_edit_password') }}
  {% elif 'member' in session %}
        {{ url_for('edit_password') }}
  {% endif %}" method="POST" autocomplete="off" class="bg-warning p-4 rounded">
    <div class="mb-3">
      <label for="old_password" class="form_label">Old Password</label>
      <input type="text" class="form-control" id="old_password" name="old_password" value="{% if registered %}{{username}}{% endif %}" required>
    </div>
    <div class="mb-3">
      <label for="new_password" class="form-label">New Password</label>
      <input type="password" class="form-control" id="new_password" name="new_password" value="{% if registered %}{{username}}{% endif %}" required>
    </div>
    <div class="mb-3">
      <label for="re_new_password" class="form-label">Confirm New Password</label>
      <input type="password" class="form-control" id="re_new_password" name="re_new_password" required>
    </div>
    
    {% if alert %}
    <div class="alert alert-danger"   role="alert">
    
    {{ msg }}
    </div>
    {% endif %}

    <div class="row mt-4">
      <div class="col-md-6">
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
      </div>
      <div class="col-md-6 text-end">
        <button type="submit" class="btn btn-dark">Change Password</button>
      </div>
      <div class="">

        <p></p>
      </div>
    </div>
  </form>
</div>
{% endblock %}
