{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <h2>Profile Page</h2>
    <div>
        <p>Your account details are below:</p>
        <table class="table">
            <tr>
                <td>Profile Picture:</td>
                <td><img src="{{ url_for('static', filename='uploads/' ~ user['profile_pic']) }}" alt="Profile Picture" width="100"></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>{{ user['username'] }}</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>{{ user['first_name'] }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ user['last_name'] }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ user['email'] }}</td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td>{{ user['date_of_birth'] }}</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>{{ user['location'] }}</td>
            </tr>
            <tr>
                <td>Role:</td>
                <td>{{ user['role'] }}</td>
            </tr>
        </table>
        <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Edit Profile</a>
    </div>
</div>
{% endblock %}
